<ion-header  color="primary">
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
    <logout></logout>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  <div class="fullscreen-bg">
    <video class="fullscreen-bg__video" autoplay loop
           muted webkit-playsinline>
      <source src="assets/icon/Blurry-People.mp4"
              type='video/mp4; codecs="h.264"' >
      <source src="assets/icon/Blurry-People.webm"
              type="video/webm">
    </video>
  </div>
  <div class="center animated zoomIn">
    <h1>Beautiful App</h1>
    <h2>Fast. Easy. Cheap.</h2>
  </div>
</ion-content>
