<!--
  Generated template for the Login page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #myContent class="home">


  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>


 <!--  <form #FormLogin="ngForm" (ngSubmit)="login(FormLogin)">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="FormLogin.username" #username name="username" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="FormLogin.password" #password name="password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <button [disabled]="!FormLogin.form.valid" type="submit" full ion-button>Login</button>
    </ion-item>
  </form> -->

   <form novalidate (ngSubmit)="login(form)" [formGroup]="form">
<!-- <span >
      <ion-spinner name="ios"></ion-spinner>
</span> -->
   <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" class="input" formControlName="username" required></ion-input>
    </ion-item>
<ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="text" class="input" formControlName="password" required></ion-input>
    </ion-item>

     <ion-item>
      <button [disabled]="form.invalid" type="submit" full ion-button [ladda]="isLoading"
      data-style="zoom-in">Login</button>
    </ion-item>
    </form>

</ion-content>
