<button ion-button block (click)="closeModal()">Close Modal x</button>



  <ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Article
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #FormArticle="ngForm" (ngSubmit)="editArticle(arts)">
    <ion-item>
      <ion-label floating>Wording</ion-label>
      <ion-input [(ngModel)]="arts.wording" name="wording" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input [(ngModel)]="arts.price" name="price" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <button [disabled]="!FormArticle.form.valid" type="submit"  data-style="zoom-in" [ladda]="isLoading" full ion-button>Edit</button>
    </ion-item>
  </form>
</ion-content>