<!--
  Generated template for the Article page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>article</ion-title>
    <logout></logout>
  </ion-navbar>

</ion-header>

 <ion-content class="outer-content">

 <!--  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-left>
        <img [src]="user.picture.thumbnail" alt="">
      </ion-avatar>
      {{user.name.first}} {{user.name.last}}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->

    <ion-fab bottom="" right="">
    <button color="primary" ion-fab="" class="fab fab-md fab-md-primary"
    (click)="addNewArticle()" >
    <span class="button-inner">
      <ion-icon name="add" role="img" class="icon icon-md ion-md-add" aria-label="add">
      </ion-icon>
    </span>
    </button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
            pullingIcon="none"  
                   refreshingicon="none"
                   refreshingSpinner="ios-small">
   </ion-refresher-content>
</ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let listArt of listArts" #slidingItem>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{listArt.coverWeb|Image}}">
        </ion-avatar>
        <h2>{{listArt.wording}}</h2>
        <p>{{listArt.price}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="btn_list" icon-left (click)="detailsArticle(listArt, slidingItem)">
          <ion-icon name="ios-menu-outline"></ion-icon>
          Details
        </button>
        <button ion-button color="primary" class="btn_list" icon-left (click)="editArticle(listArt, slidingItem)">
          <ion-icon name="ios-create-outline"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" class="btn_list"  icon-left (click)="deleteArticle(listArt)">
          <ion-icon name="ios-close-outline"   [ladda]="Deleteloading"  data-style="zoom-in"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="ios-small">
                   </ion-infinite-scroll-content>
</ion-infinite-scroll> 
</ion-content>
