<ion-header>
    <ion-navbar>
        <ion-title>Add Article</ion-title>
        <logout></logout>
    </ion-navbar>
</ion-header>

<ion-content padding>
<form #arts="ngForm" (ngSubmit)="sendImage(arts)">
    <ion-item>
      <ion-label floating>Wording</ion-label>
      <ion-input [(ngModel)]="arts.wording" name="wording" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input [(ngModel)]="arts.price" name="price" type="number" required></ion-input>
    </ion-item>
    <ion-item>
    <button ion-button (click)="getPicture()">Show Camera
  </button>
  <img width="100" [src]="base64Image" *ngIf="base64Image" />
    </ion-item>
    <ion-item>
      <button [disabled]="!arts.form.valid"  [ladda]="editLoader"  data-style="zoom-in" type="submit" full ion-button>Add</button>
    </ion-item>
  </form>
</ion-content>