<ion-header  color="primary" >
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <logout></logout>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
   <ion-list>
     <ion-item *ngFor="let user of listUsers">
       <h1>{{user.username}}</h1>
       <button (click)="details(user)" >view</button>
     </ion-item>
   </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
