<ion-header  color="primary">
  <ion-navbar>
    <ion-title>Home</ion-title>
     <logout></logout>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>


  <form #arts="ngForm" (ngSubmit)="sendImage(arts)">
    <ion-item>
      <ion-label floating>Wording</ion-label>
      <ion-input [(ngModel)]="arts.wording" name="wording" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input [(ngModel)]="arts.price" name="price" type="number" required></ion-input>
    </ion-item>

    <ion-item>

    <button ion-button (click)="getPicture()">Show Camera
  </button>
  <img width="100" [src]="base64Image" *ngIf="base64Image" />

    </ion-item>


    <ion-item>
      <button [disabled]="!arts.form.valid" type="submit" full ion-button>Send</button>
    </ion-item>
  </form>



  <!--<button (click)="sendImage()"></button>-->
</ion-content>
