<ion-header>
    <ion-navbar>
        <ion-title>Edit Article</ion-title>
        <logout></logout>
    </ion-navbar>
</ion-header>

<ion-content padding>
 <form #FormArticle="ngForm" (ngSubmit)="editArticle(arts)">
    <ion-item>
      <ion-label floating>Wording</ion-label>
      <ion-input [(ngModel)]="arts.wording" name="wording" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Price</ion-label>
      <ion-input [(ngModel)]="arts.price" name="price" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <button [disabled]="!FormArticle.form.valid" type="submit"  data-style="zoom-in" [ladda]="isLoading" full ion-button>Edit</button>
    </ion-item>
  </form>
</ion-content>