<ion-header>

    <ion-navbar>
        <ion-title>article</ion-title>
        <logout></logout>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img src="{{article.coverWeb | Image}}"  style="    height: 300px; width: 400px;" />
        <ion-card-content>
            <ion-card-title>
                {{article.wording}}
            </ion-card-title>
            <p>
                {{article.description}}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>